body {
  font-family: 'Roboto', 'Raleway', sans-serif;
  color: #212121;
  background-color: #FFFFFF;
}

/* Header */

.header {
background: #FFFFFF;
}

.header-link {
  font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;

color: #212121;

}

.header-link:hover,
.header-link:focus {
  color: #2196F3;
}

/*main*/
.main-hero {
  background-color: #2F303A;
}

.hero-button {
  background-color: #2196F3;
}

/*ideology*/

/*work*/

.team {
  background-color: #F5F4FA;
}
/*footer*/
.footer {
  background-color: #2F303A;
}
